@import url("icomoon/style.css");
@font-face {
  font-family: 'robotobold';
  src: url('fonts/roboto/roboto-bold-webfont.eot');
  src: url('fonts/roboto/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/roboto/roboto-bold-webfont.woff') format('woff'),
       url('fonts/roboto/roboto-bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotolight';
  src: url('fonts/roboto/roboto-light-webfont.eot');
  src: url('fonts/roboto/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/roboto/roboto-light-webfont.woff') format('woff'),
       url('fonts/roboto/roboto-light-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotomedium';
  src: url('fonts/roboto/roboto-medium-webfont.eot');
  src: url('fonts/roboto/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/roboto/roboto-medium-webfont.woff') format('woff'),
       url('fonts/roboto/roboto-medium-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotoregular';
  src: url('fonts/roboto/roboto-regular-webfont.eot');
  src: url('fonts/roboto/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/roboto/roboto-regular-webfont.woff') format('woff'),
       url('fonts/roboto/roboto-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*Resets and normalize*/
html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}
/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none;
}
/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {

  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}
/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0;
}
/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 2 */
  text-decoration: underline dotted;
  /* 1 */
  text-decoration: underline;
  /* 2 */
}
/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-family:'robotomedium';
}
/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: .67em 0;
}
 * 1. Add the correct -moz-box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}
/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
}
/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-family:'robotobold';
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: .35em .625em .75em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}
/**

/**
 * 1. Add the correct -moz-box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: .54;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
body,button,input,textarea {font-smoothing: antialiased;}
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color:#303030;
  -moz-user-select:none;
  background: #fff5e6;
  font-family: "robotoregular";
}
html,body {height: 100%;overflow-x: hidden;}
* {margin: 0;padding: 0;box-sizing:border-box; outline:none;}
a {
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a {text-decoration: none; color: #57167d;}
p + p {margin-top: 15px;}
button {cursor: pointer;}
textarea {resize:none;overflow:auto;}
img {border-style:none;}
h1,h2,h3,h4,h5,h6 {font-weight: normal;}
h1,h2,h3,h4,h5,h6,p,a,table {-moz-user-select: text;}

/*Grid system*/
div[class*="col-"] {float:left;}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/**/

/*Para limpiar flotamientos sin overflow*/
div[class*="col-"]:after,
.clearfix:after,
.wrap:after {content: "."; display: block; height: 0; clear: both; visibility: hidden; font-size: 0;}
/********/

body.no-scroll {overflow: hidden !important;}

.brand-color-bg {background: #57167d;}
.mt5	{margin-top: 5px;}
.mt20 {margin-top: 20px;}
.p10 {padding: 10px;}
.p20 {padding: 20px;}
.pb20 {padding-bottom: 20px;}
.text-center {text-align: center;}
.no-padding {padding: 0 !important;}
.v-spacing-10 {padding: 10px 0;}
.v-spacing-20 {padding: 20px 0;}
.v-spacing-30 {padding: 30px 0;}
.v-spacing-40 {padding: 40px 0;}
.v-spacing-50 {padding: 50px 0;}
.responsive-img {width: 100%;}
.wrap {
	margin:auto;
	width: 95%;
	max-width: 540px;
	position: relative;
}

.overlay {
	background: black;
	opacity: .5;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 40px;
	left: 0;
	z-index: 1;
	display: none;
}
.overlay.cover {z-index: 2 !important;}

.loading {
	background: #fff;
	width: 100%;
	height: 100%;
	position: fixed;
	top:0;
	left: 0;
	z-index: 2;
}
.loading img {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.gradient {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: -100%;
	background-image: url("../images/gradient.png");
	background-repeat: repeat-x;
	background-size: 100% 100%;
	opacity: 0;
	transition:all 200ms linear;
}

.main-bar {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 3;
}

.head {
	background: #57167d;
	position: relative;
	width: 100%;
	height:40px;
}
.head .logo {
	position: absolute;
	top: 2px;
	left: 50%;
	margin:auto;
	margin-left: -75px;
	width:149px;
}
.head .logo img {width:70px;}
.head .navicon {
	cursor: pointer;
	text-decoration: none;
	background: white;
	display: block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 19px;
	color: black;
	border-radius: 50%;
	position: absolute;
	left: 10px;
	top: 20px;
	box-shadow: 0 0 3px 2px rgba(0,0,0,.1);
	z-index: 3;
	-webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.head .navicon.active:before {content: "\e5cd" !important;}
.head .search-button {
	cursor: pointer;
	text-decoration: none;
	color: white;
	font-size: 24px;
	position: absolute;
	right: 10px;
	top: 50%;
	transform:translateY(-50%);
}
.search-box {
  position: fixed;
  z-index: 999;
  background: #fff;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.search-form {
	top: 0;
	left: 0;
	width: 100%;
	background: #f3f3f3;
	padding: 5px;
	box-shadow: 0 1px 4px #e0e0e0;
}
.search-form .input-search {
	width: 100%;
	border: none;
	height: 30px;
	padding: 0 40px;
	font-size: 14px;
	border-radius: 3px;
	background: #fff;
}
.search-form .search-btn {
	background: transparent;
	position: absolute;
	border:none;
	color: #BCBCBC;
	font-size: 24px;
	right: 9px;
	top: 8px;
}
.search-box .close-button {
	position: absolute;
	font-size: 20px;
	top: 10px;
	left: 12px;
	cursor: pointer;
	color: #B9B9B9;
}
.search-form .close-button:hover {color: #969696;}

.notification-bar {
	background: #f7f8ffZ;
	background: -moz-linear-gradient(top, #f7f7f7 100%, #eeeeee 100%);
	background: -webkit-linear-gradient(top, #f7f7f7 100%,#eeeeee 100%);
	background: linear-gradient(to bottom, ##f7f7f7 100%,#eeeeee 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#eeeeee',GradientType=0 );
	font-size: 12px;
	text-align: right;
	height: 25px;
	line-height: 25px;
	padding: 0px 10px;
	color:#333;
	border-top: solid 1px #57167d;
}

.floating-bar {
	position: relative;
	width: 100%;
	background: #f8cc87;
	color: #333;
	height: 35px;
	line-height: 35px;
	font-size: 12px;
	overflow: hidden;
}
.floating-bar .main-title {
	color: #333;
	padding: 0px 10px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	white-space: nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.floating-bar .button-back {
	text-decoration: none;
	font-size: 22px;
	color: #333;
	position: absolute;
	left: 0;
	top: 0;
	height: 35px;
	line-height: 35px;
	width: 35px;
	text-align: center;
}
.floating-bar .breadcrumb {
	padding-left: 35px;
	text-align: left;
	overflow: hidden;
}
.floating-bar .breadcrumb li {
	list-style: none;
	float: left;
}
.floating-bar .breadcrumb li,
.floating-bar .breadcrumb a {
	text-decoration: none;
	text-transform: uppercase;
	color: #333;
	position: relative;
}
.floating-bar .breadcrumb li:not(:last-child):after {
	content: "/";
	line-height: initial;
	opacity: 0.7;
	padding: 0 5px;
}
.primary-menu {
	background: #fff;
	width: 90%;
	height: calc(100% - 40px);
	overflow-y: auto;
	max-width: 320px;
	position: fixed;
	top:41px;
	left: -321px;
	z-index: 2;
	transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.primary-menu.active {left: 0 !important;}
.primary-menu .user {
	background: #ffefd6;
	padding-top: 30px;
	height: 70px;
	opacity: 0;
	transition:all 200ms .5s linear;
	margin-bottom: 70px;
}
.primary-menu.active .user {opacity: 1;}
.primary-menu .user .picture {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	overflow: hidden;
	position: relative;
	margin:auto;
	border:solid 1px #ededed;
}
.primary-menu .user .picture img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%, -50%);
	width: 100%;
	max-width: 100%;
}
.primary-menu .user .name {
	text-align: center;
	font-size: 12px;
	padding-top: 5px;
}
.primary-menu .navigation {
	min-height: 100%;
	opacity: 0;
	padding-bottom: 50px;
	transition:all 200ms .5s linear;
}
.primary-menu.active .navigation {opacity: 1;}

.primary-menu .navigation li {
	font-family: "robotoregular" !important;
	color: #878787;
	list-style: none;
}
.primary-menu .navigation > li {padding: 7px 20px;}
.primary-menu .navigation li:before {
	font-family: 'icomoon';
	font-size: 28px;
	vertical-align: middle;
	display: inline-block;
	height: 30px;
	line-height: 25px;
	margin-right: 10px;
}
.primary-menu .navigation li.separator {
	padding: 0;
	height: 1px;
	background:#f0f0f0;
	margin: 10px 0;
}
.primary-menu .navigation li a {
	color:#878787;
}
.primary-menu .navigation li a:active {color:#000;}
.primary-menu .navigation li ul {
	margin-top: 10px;
}
.primary-menu .navigation li ul li {
	padding-left: 38px;
	font-size: 14px;
}
.primary-menu .navigation li ul li a {
	display: block;
	padding: 10px 0 !important;
}

.footer-menu {
	text-align: center;
	padding: 10px 0;
}
.footer-menu .logo {
	width: 100px;
	margin-bottom: 10px;
}
.footer-menu {
	width: 100%;
	border-top: solid 1px #ededed;
}
.footer-menu p,
.footer-menu a {color:#888888;font-size: 10px;}
.footer-menu a {font-size: 8px;text-transform: uppercase;text-decoration: underline;}
.footer-bar {
	transition:all 200ms linear;
	position: relative;
	width: 100%;
	min-height: 40px;
	background: #000000;
	z-index: 1;
}
.footer-bar.light {background: #fff;}
.footer-bar.tall {height: 40%;}
.footer-bar.fixed {
	position: fixed;
	left: 0;
	bottom: 0;
}
.footer-bar .title {
	color: #929292;
	text-transform: uppercase;
	font-size: 10px;
	padding: 10px;
}
.footer-bar.light .title {
	color: #5b5b5b;
}
.footer-bar .footer-bar-main-button {
	display: block;
	cursor: pointer;
	width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	border-radius: 50%;
	font-size: 20px;
	color: white;
	background: #da0226;
	position: absolute;
	right: 10px;
	top: -30px;
	overflow: hidden;
	box-shadow: 0 0 3px 2px rgba(0,0,0,.1);
	transform:rotate(45deg);
	transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
	-webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.footer-bar .footer-bar-main-button.active {background: #E70228;}
.footer-bar-main-button.active {transform:rotate(0deg) !important;}

.ripple-effect {
  position: relative;
  overflow: hidden;
  transform: translate3d(0,0,0);
}
.ink {
  display: block;
  position: absolute;
  pointer-events: none;
  border-radius: 50%;
  transform: scale(0);
  background: #fff;
  opacity: 1;
}
.ink.animate {
  animation: ripple .5s linear;
}
@keyframes ripple {
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}

.footer-bar .button-option {
	position: absolute;
	right: -150px;
	display: block;
	width: 35px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	color: #737373;
	border-radius: 50%;
	background: #fff;
	font-size: 20px;
	transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
	text-indent: 1px;
}
.footer-bar .button-option span {
	font-family: "robotoregular";
	position: absolute;
	font-size: 14px;
	color: #fff;
	width: 100px;
	text-align: right;
	top: 0;
	left: -110px;
	transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
	opacity: 0;
}
.footer-bar .button-option.one {top: -165px; transition-delay:.15s;}
.footer-bar .button-option.two {top: -120px; transition-delay:.1s;}
.footer-bar .button-option.three {top: -75px;}
.footer-bar.active .button-option {right: 23px !important;}
.footer-bar.active .button-option.one span {opacity: 1;transition-delay:.3s;}
.footer-bar.active .button-option.two span {opacity: 1;transition-delay:.25s;}
.footer-bar.active .button-option.three span {opacity: 1;transition-delay:.2s;}

.footer-bar .related-carousel {
	font-size: 0;
	text-align: center;
}
.footer-bar .related-carousel a {
	display: inline-block;
}
.footer-bar .related-carousel a img {
	width: 100%;
	height: auto;
}
.footer-bar .slick-slide {
  margin:0 1% 1% 1%;
}
.footer-bar .slick-slide img {
  width: 100%;
}

.scroll-section {
	height: 100%;
	overflow-y: auto;
}

.main-section {
	overflow: hidden;
	position: relative;
}
.main-section .info-area {
	position: absolute;
	bottom:0;
	left:0;
	padding: 7px;
}
.main-section .info-area li,
.main-section .info-area-2 li {
	list-style: none;
	color:white;
	font-size: 10px;
	margin-bottom: 8px;
}
.main-section .info-area-2 {
	position: absolute;
	left: 20px;
	top: 20px;
	z-index:1;
	display: none;
}
.main-section .info-area li:first-child,
.main-section .info-area-2 li:first-child {text-transform: uppercase;}
.main-section .info-area li:last-child,
.main-section .info-area-2 li:last-child {margin-bottom:0;}

.image-preview {
	width: 100%;
	height: 100%;
	background-size: cover !important;
	background-position: center center !important;
	background-repeat: no-repeat !important;
}

.ringtone-preview {
	height: 500px;
	position: relative;
	background:url("../images/bg-waves.jpg");
	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-position: center center !important;
	background-attachment: fixed !important;
}
@media only screen and (max-width:1024px){
	.ringtone-preview {height: 400px;}
}
@media only screen and (max-width:414px){
	.ringtone-preview {height: 320px;}
}
@media only screen and (max-width:320px){
	.ringtone-preview {height: 250px;}
}
.ringtone-preview .audio-player-big {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -40px;
	margin-top: -40px;
}
.tab-nav,
.profile-tab-nav {
	background: #fff;
	position: fixed !important;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
}
.tab-nav li,
.profile-tab-nav li {
	text-align: center;
	cursor: pointer;
	height: 35px;
	line-height: 32px;
	border-bottom: solid 3px #E3E3E3;
}
.tab-nav li {
	color: #650e7f;
	text-transform: uppercase;
	font-size: 11px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-family:'robotobold';
}
.profile-tab-nav li {
	float: left;
	font-weight: normal;
	list-style:none;
	width: 33.33333%;
}
.profile-tab-nav li a {
	color:#757575;
	font-size: 20px;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 32px;
}
.tab-nav li.slick-current,
.profile-tab-nav li.current {
 	border-bottom-color:#d9a6f7;
 	background: #f8f8f8;
}
.profile-tab-nav li.current a {
	color: #ab86c1;
}
.tab-content {min-height:500px;}
.profile-tab-content {padding-bottom: 20px;}
.slick-track.init {transform:translate3d(0, 0, 0) !important;}

.tab-content .category-menu {
	background:#fff;
}
.tab-content .category-menu a {
	display: block;
	color: #fff;
	padding: 15px 20px;
	border-bottom: solid 1px #f2f2f2;
}
.tab-content .category-menu a:hover {background:#F7FBFF;}

.img-gallery {
	padding-left: 1px;
	padding-top: 1px;
}
.img-gallery a {
	display: block;
	float: left;
	width: 33.33333%;
	padding: 0.5px;
	position: relative;
	overflow: hidden;
	border-right: solid 0.5px #fff;
	border-bottom: solid 1px #fff;
}
.img-gallery a:before {
  content: '';
  display: block;
  padding-top: 110%;
}
.img-gallery a img {
	position: absolute;
	height: 100%;
	top: 0;
	left: 50%;
	transform:translateX(-50%);
}

.share-box {
	position: fixed;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
	max-width: 320px;
	padding-top:40px;
	background: white;
	z-index: 999999999999;
	box-shadow:0 0 0 5000px rgba(0,0,0,.5);
	height: 90%;
	display: none;
}
.share-box-content {
	height: 100%;
	overflow-y: auto;
}
.share-box.show {}
.share-box .share-box-title {
	position: absolute;
	background: #fff;
	top: 0;
	left: 0;
	width: 100%;
	font-family:'robotobold';
	color: #DA0226;
	padding: 0 10px;
	height: 40px;
	border-bottom: solid 1px #DA0226;
	line-height: 40px;
}
.share-box .close-button {
	position: absolute;
	right: 0;
	top: 0;
	width: 40px;
	height: 39px;
	line-height: 37px;
	color: black;
	cursor: pointer;
	text-align: center;
}
.share-box .close-button:active {background:#EEFCFF;}
.share-box a {
	display: block;
	color: #555;
	padding: 0 20px;
	border-bottom: solid 1px #f2f2f2;
	height: 50px;
	line-height: 50px;
}
.share-box a[class^="svg-icon-"]:before {
	content: '';
	width: 30px;
	height: 50px;
	background-repeat: no-repeat;
	background-size: contain !important;
	vertical-align: middle;
	display: inline-block;
	margin-right: 10px;
	background-position: center 8px;
}

.share-box .svg-icon-whatsapp:before {background:url(../images/svg-icons/whatsapp.svg);}
.share-box .svg-icon-facebook:before {background:url(../images/svg-icons/facebook.svg);}
.share-box .svg-icon-twitter:before {background:url(../images/svg-icons/twitter.svg);}
.share-box .svg-icon-instagram:before {background:url(../images/svg-icons/instagram.svg);}
.share-box .svg-icon-hangout:before {background:url(../images/svg-icons/hangout.svg);}
.share-box .svg-icon-skype:before {background:url(../images/svg-icons/skype.svg);}
.share-box .svg-icon-youtube:before {background:url(../images/svg-icons/youtube.svg);}
.share-box .svg-icon-gmail:before {background:url(../images/svg-icons/gmail.svg);}
.share-box .svg-icon-email:before {background:url(../images/svg-icons/email.svg);}
.share-box .svg-icon-googleplus:before {background:url(../images/svg-icons/google-plus.svg);}
.share-box .svg-icon-sms:before {background:url(../images/svg-icons/sms.svg);}

.prompt-prefix {
	float: left;
	width: 20%;
	line-height: 44px;
}
.prompt-prefix + p + input {
	width: 80% !important;
	float: right;
}

.form-title {
	opacity: .9;
	color: #757575;
	text-transform: uppercase;
	font-size: 12px;
	text-align: center;
	border-bottom:solid 1px #E6E6E6;
	height: 16px;
	margin-bottom: 37px;
}
.form-title span {
	background:#fff5e6;
	display: inline-block;
	margin-top:8px;
	padding: 0px 5px;
}
.access-form {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
	max-width: 420px;
	text-align: center;
}
.access-form .form-title {
	font-family:'robotobold';
	color: #fff;
	border-bottom-color:rgba(255,255,255,.5);
}
.access-form .form-title span {
	background: #57167d;
	padding: 0px 10px;
}
.access-form .logo {
	display: block;
	margin:auto;
	margin-bottom: 10%;
}
.access-form input[type="text"],
.access-form input[type="password"],
.access-form input[type="email"],
.access-form select {
	width: 100%;
	height: 40px;
	background:#fff;
	border:none !important;
	border-radius: 3px;
	color: #7d7d7d;
	font-size: 14px;
	padding:0 5px 0 40px;
	border:solid 1px transparent;
}
.access-form select {padding-left: 0;}
.access-form input[type="text"]:focus,
.access-form input[type="password"]:focus,
.access-form input[type="email"]:focus {}

.access-form .x2 {
	position: relative;
	padding-right: 65px;
}
.access-form .x2-left input,
.access-form .x2-left select {
	border-radius: 3px 0 0 3px;
}

.access-form .x2-right {
	position: absolute;
	width: 60px;
	right: 0;
	top: 0;
	border-radius: 0 3px 3px 0;
}
.access-form .x2-right select,
.access-form .x2-right input {
	border-radius: 0 3px 3px 0;
	text-align: center;
}
.access-form button {
	background: #437a29;
	text-align: center;
	border: solid 1px transparent;
	height: 50px;
	color: #fff;
	border-radius: 3px;
	width: 100%;
	margin-top: 10px;
}
.access-form button:hover,
.access-form button:focus {border-color:#FFE600;}
.access-form a.link {
	display: inline-block;
	color: #fff;
	font-size: 14px;
	margin: 0px 10px;
	margin-top: 20px;
}
.access-form label {
	display: block;
	position: relative;
	margin-bottom: 10px;
}
.access-form label.has-error input {}

.access-form label span.icon {
	position: absolute;
	font-size: 25px;
	top: 7px;
	left: 7px;
	color: #bdbdbd;
	opacity: .7;
	transition:all 200ms linear;
}
.access-form label input:focus + span.icon {opacity: 1;color: #57167d;}
.access-form label input.validation-success + span.icon,
.access-form label input.validation-success:focus + span.icon {color: #38A700;}
.access-form label input.validation-success {background: #D2F0C4;}

.access-form label .icon-action {
	position: absolute;
	right: 10px;
	bottom: 10px;
	font-size: 20px;
	color:#646464;
	cursor:pointer;
}
.access-form label .icon-action:active {color:#2196f3;}

.help-block {
	text-align: left;
	font-size: 12px;
	width: 100%;
	display: inline-block;
	color: #565656;
}
.help-block.form-error {color: red;}
.access-form .form-error {
	color: #fff;
	opacity: .8;
}
.responsive-form {
	padding: 20px 0;
	position: inherit;
	transform: initial;
	margin: auto;
}

.category-list li {
	display: block;
	background: #fae0b7;
	border-bottom: solid 2px #faeedb;
	position: relative;
	font-size: 15px;
	overflow: hidden;
}

.category-list.two-column {font-size: 0;}
.category-list.two-column li {
	width: 50%;
	display: inline-block;
	overflow: hidden;
}
.category-list.two-column li:nth-child(odd) {
	border-right: solid 2px #faeedb;
}

.category-list li p {
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.category-list li a:after {
	font-family: 'icomoon';
	content: "\e903";
	position: absolute;
	right: 0;
	top: 0;
	display: block;
	width: 25px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: #ccc;
}
.category-list li a {
	display: block;
	color: #676767;
	height: 50px;
	line-height: 50px;
	padding:0 20px 0 55px;
}
.category-list li img {
	width:38px;
	height: 38px;
	position: absolute;
	left: 10px;
	top: 6px;
}
@media only screen and (max-width:520px){
	.category-list li a {
		height: 45px;
		line-height: 45px;
		padding: 0 20px 0 48px;
	}
	.category-list li img {
		width: 30px;
		height: 30px;
		top: 8px;
	}
	.category-list.two-column li p {
		font-size: 12px;
	}
}
.section-title {
	padding:0 10px;
	height: 36px;
	line-height: 36px;
	text-transform: uppercase;
	font-size: 13px;
	background: #f8cc87;
	border-top: solid 1px  #f0f0f0;
	border-bottom:solid 1px #57167d;
	color: #333;
}
.section-title-2 {
	text-align: center;
	padding: 20px 10px;
	font-size: 13px;
	background: #fff;
	border-top: solid 1px #f0f0f0;
	border-bottom:solid 1px #f0f0f0;
	color: #8A8A8A;
}

.section-subtitle {
	font-size: 13px;
	font-family:'robotomedium';
	margin-bottom: 20px;
}

.info-box {
	margin: 20px;
	padding: 20px;
	background: #fff;
	border:solid 1px #f0f0f0;
}
.info-box .info-box-title,
.info-box-2 .info-box-title {
	padding: 10px;
	text-transform: uppercase;
	font-size: 13px;
	text-align: center;
	color: #57167d;
	line-height: 20px;
}
.info-box p {
	font-size: 14px;
	color:#5b5b5b;
}
.info-box-2 {
	margin: 20px;
}
.info-box-2 .info-box-text img,
.info-box .info-box-text img {
	float: left;
	margin-right: 10px;
}
.info-box .info-box-text p,
.info-box-2 .info-box-text p {
	text-align: justify;
}
.info-box-2 p {
	font-size: 14px;
	color:#5b5b5b;
	line-height: 21px;
}

.profile-picture {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	margin:30px auto;
	position: relative;
}
.prof-pic-img {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	overflow: hidden;
}
.prof-pic-img img {
	margin-left: 50%;
	margin-top: 50%;
	transform: translate(-50%, -50%);
	height: 100%;
}
.profile-picture input {
	opacity: 0;
	visibility: hidden;
	display: none;
}
.profile-picture .camera-button {
	background:#c62127;
	color: #fff;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 50%;
	text-align: center;
	position: absolute;
	right: 0;
	bottom: 0;
	font-size: 20px;
	box-shadow: 0 0 7px rgba(0,0,0,0.3);
	cursor:pointer;
}
.profile-picture .camera-button:active {background:#E50228;}

.matches-list li {
	display: block;
	color: #636363;
}
.matches-list li a {
	border-bottom: solid 1px #ECECEC;
	position: relative;
	height: 62px;
	line-height: 58px;
	display: block;
	background: #fff;
	color: #636363;
}
.matches-list li:first-child {border-top: solid 1px #ECECEC;}
.matches-list li span {
	display: inline-block;
	vertical-align: middle;
	color:#fff;
	background:#636363;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	text-align: center;
	line-height:normal;
	font-size: 14px;
	margin: 0px 20px;
}
.matches-list li i {
	display: inline-block;
	vertical-align: middle;
	font-size: 30px;
	margin-right: 5px;
}
.matches-list li .title {
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
}
.matches-list li a:after {
	font-family: 'icomoon';
	content: "\e903";
	position: absolute;
	right: 10px;
	top: 0;
	display: block;
	height: 60px;
	line-height: 60px;
	width: 25px;
	text-align: center;
	background: #fff;
	color: #ccc;
}
.no-matches {
	text-align: center;
	padding: 100px 10px;
	font-size: 14px;
	color: #b3b3b3;
}
.no-matches span {
	display: block;
	font-size: 16px;
	margin-bottom: 20px;
}
.form .input-label {
	display: block;
	margin-bottom: 30px;
	position: relative;
}
.form .input-label .icon-action {
	position: absolute;
	right: 7px;
	bottom: 7px;
	font-size: 20px;
	color:#646464;
	cursor:pointer;
}
.form .input-label .icon-action:active {color:#2196f3;}
.form .stroke:before,
.form .stroke:after {
	position: absolute;
	top: 46px;
	content:'';
	width: 1px;
	height: 5px;
	background:#57167d;
}
.form .stroke:before {left: 0;}
.form .stroke:after {right: 0;}

.form .stroke.has-error:before,
.form .stroke.has-error:after {background:red;}

.form .label-title {
	display:block;
	font-family:'robotobold';
	font-size: 12px;
	color: #616161;
	padding-left: 7px;
	margin-bottom: 5px;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="password"],
.form select {
	width: 100%;
	background: none;
	border:none;
	border-bottom:solid 1px #57167d;
	font-size: 14px;
	padding: 0 7px;
	color: #616161;
	height: 33px;
}
.form .x2 {
	position: relative;
	padding-right: 60px;
}
.form .x2 .right-input {
	position: absolute;
	width: 55px;
	top: 0;
	right: 0;
}
.form .x2 .right-input select {
	text-align: center;
	-moz-appearance: none;
	-webkit-appearance: none;
}
.form .x2 .right-input .label-title {padding-left: 0;}
.form-1 .split,
.form-2 .split {
	display: block;
	margin: 20px 0;
	height: 1px;
	background-color:#e3e3e3;
}
.form-2 .input-label {
	display: block;
}

.form-2 .input-label + .input-label {margin-top: 10px;}
.form-2 input[type="text"],
.form-2 input[type="email"],
.form-2 input[type="password"],
.form-2 select,
.form-2 textarea {
	width: 100%;
	height: 40px;
	background: none;
	border:none;
	border:solid 1px #e3e3e3;
	background-color: #fff;
	border-radius: 2px;
	font-size: 13px;
	padding:0 7px;
	color: #616161;
}
.form-2 textarea {height: 60px;padding-top: 7px;}
.form-2 input[type="text"]:focus,
.form-2 input[type="email"]:focus,
.form-2 input[type="password"]:focus,
.form-2 textarea:focus {border-color:#6F9737;}

.button,
.flat-button {
	height: 36px;
	display: inline-block;
	vertical-align: top;
	line-height: 36px;
	padding: 0px 16px;
	border-radius: 2px;
	font-size: 14px;
	color: #fff;
	background: #fff;
	border:none;
	cursor: pointer;
	text-transform: uppercase;
	font-family:'robotomedium';
}
.button + .button {margin-left: 10px;}
.button.raised {
	box-shadow: -1px 1px 2px #B7B7B7;
	margin-bottom: 3px;
}
.button.primary-color {
	background:#57167d;
}
.button.primary-color:active {
	background:#1BAAFF;
}
.button.color-1 {
	color:#fff;
	background:#DA0226;
}
.button.color-2 {
	color:#000;
	background:#FFDA00;
}
.button.primary-color:active {background:#239EFF;}
.flat-button {
	background:none;
}
.flat-button:active {background:#F4F4F4;}
.flat-button.primary-color {
	color:#333;
}

.suscription-list li {
	display: block;
	position: relative;
	height: 62px;
	padding: 10px 110px 0px 20px;
	background: #fff;
	color: #636363;
	border-bottom: solid 1px #ECECEC;
}
.suscription-list li:first-child {border-top: solid 1px #ECECEC;}
.suscription-list li .title,
.suscription-list li .description {
	white-space:nowrap;
	width: 100%;
	overflow: hidden;
	text-overflow:ellipsis;
	margin: 0;
}
.suscription-list li .title {
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	font-family:'robotomedium';
}
.suscription-list li .description {
	font-size: 12px;
	color: #888888;
	margin-top: 4px;
}
.suscription-list li .cancel-button {
	position: absolute;
	right: 5px;
	top: 12px;
}

.category-label {
	display: block;
	background: #fff;
	border-bottom: solid 2px #ffefd6;
	position: relative;
	color: #676767;
	height: 50px;
	line-height: 35px;
	padding: 5px 20px;
}
.category-label img {
	height: 100%;
	float: left;
	margin-right: 10px;
}
.category-label input[type="checkbox"],
.checkbox-list input[type="checkbox"]  {
	clip: rect(0, 0, 0, 0);
	width: 1px;
	height: 1px;
	overflow: hidden;
	position: absolute;
	visibility: hidden;
	opacity: 0;
}
.category-label .icon-checkbox,
.checkbox-list .icon-checkbox {
	color: #57167d;
	font-size: 25px;
}
.category-label .icon-checkbox {
	position: absolute;
	right: 10px;
	top: 10px;
}
.category-label input[type="checkbox"]:checked + .icon-checkbox:before,
.checkbox-list input[type="checkbox"]:checked + .icon-checkbox:before {
	content: "\e834" !important;
}
.category-label:active .icon-checkbox,
.checkbox-list label:active .icon-checkbox,
.checkbox-list input[type="checkbox"]:checked + .icon-checkbox,
.category-label input[type="checkbox"]:checked + .icon-checkbox {opacity: 1;}
.category-label .icon-checkbox,
.checkbox-list .icon-checkbox,
.category-label:active input[type="checkbox"]:checked + .icon-checkbox,
.checkbox-list label:active input[type="checkbox"]:checked + .icon-checkbox {opacity: .8;}

.checkbox-list {}
.checkbox-list label {
}
.checkbox-list li {
	display: block;
	margin-bottom: 15px;
	color:#5b5b5b;
	font-size: 14px;
}
.checkbox-list .icon-checkbox {
	float: left;
	margin-top: -5px;
	margin-right: 5px;
}

.download-list li {
	display: block;
	position: relative;
	height: 62px;
	padding: 10px 48px 0px 50px;
	background: #fff;
	color: #757575;
	border-bottom: solid 1px #ECECEC;
}
.download-list li:first-child {border-top: solid 1px #ECECEC;}
.download-list li .title,
.download-list li .description {
	white-space:nowrap;
	width: 100%;
	overflow: hidden;
	text-overflow:ellipsis;
	margin: 0;
}
.download-list li .title {
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	font-family:'robotomedium';
}
.download-list li .description {
	font-size: 12px;
	color: #888888;
	margin-top: 4px;
}
.download-list li i {
	position: absolute;
	left: 10px;
	top: 15px;
	font-size: 30px;
}
.download-list li .info-button {
	position: absolute;
	right: 10px;
	top: 15px;
	color: #2196f3;
	font-size: 30px;
	cursor: pointer;
}


.favorites-list li {
	display: block;
	position: relative;
	background: #fff;
	border-bottom: solid 1px #ECECEC;
	padding-left: 50px;
}

.favorites-list li .button-close {
	position: absolute;
	left: 0px;
	top: 12px;
	font-size: 17px;
	display: block;
	width: 50px;
	height: 38px;
	line-height: 38px;
	border-right: solid 1px #e3e3e3;
	text-align: center;
}

.favorites-list li .item {
	position: relative;
	display: block;
	height: 62px;
	padding: 10px 48px 0px 50px;
	color: #757575;
}
.favorites-list li:first-child {border-top: solid 1px #ECECEC;}
.favorites-list li .title,
.favorites-list li .description {
	white-space:nowrap;
	width: 100%;
	overflow: hidden;
	text-overflow:ellipsis;
	margin: 0;
}
.favorites-list li .title {
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	font-family:'robotomedium';
}
.favorites-list li .description {
	font-size: 12px;
	color: #888888;
	margin-top: 4px;
}
.favorites-list li i {
	position: absolute;
	left: 10px;
	top: 15px;
	font-size: 30px;
}
.favorites-list li:after {
	font-family: 'icomoon';
	content: "\e903";
	position: absolute;
	right: 5px;
	top: 18px;
	color: #ccc;
	font-size: 20px;
}

.slider img {
	width: 100%;
}

.full-width-button {
	display: block;
	padding: 0 5px;
	height: 36px;
	line-height: 36px;
	text-transform: uppercase;
	font-size: 13px;
	text-align: center;
	text-decoration: none;
	color:#2196f3;
	background: #faeedb;
	border-top: solid 1px #f0f0f0;
	border-bottom: solid 1px #f0f0f0;
}
.full-width-button:active {background: #F9F9F9;}

.wallpapers-carousel img {
	width: 100%;
}

.wallpapers-carousel li {
	display: block;
	float: left;
	width: 33.33333%;
	position: relative;
	overflow: hidden;
}
.wallpapers-carousel li a {

}
.wallpapers-carousel li a:before {
  content: '';
  display: block;
  padding-top: 110%;
}
.wallpapers-carousel li a img {
	position: absolute;
	height: 100%;
	top: 0;
	left: 50%;
	transform:translateX(-50%);
	padding-right: 1px;
}

.video-slider {
	margin-bottom: -2px;
}

.video-slider li iframe {
	width: 100% !important;
}
@media only screen and (max-width:1920px){
	.video-slider li iframe {
		height: 1000px !important;
	}
}

@media only screen and (max-width:1280px){
	.video-slider li iframe {
		height: 750px !important;
	}
}

@media only screen and (max-width:1024px){
	.video-slider li iframe {
		height: 600px !important;
	}
}

@media only screen and (max-width:720px){
	.video-slider li iframe {
		height: 420px !important;
	}
}

@media only screen and (max-width:420px){
	.video-slider li iframe {
		height: 250px !important;
	}
}
.video-slider-thumbnails li {
	cursor:pointer;
	padding-right: 1px;
	opacity: .7;
	transition:all 200ms linear;
}
.video-slider-thumbnails li.slick-current {
	opacity: 1;
}
.video-slider-thumbnails li img {width: 100%;}

.notification-box {
	overflow: hidden;
	background-color:#EBEBEB;
	color:#464646;
	padding: 15px 0;
	position: fixed;
	z-index:1;
	left: 0;
	width: 100%;
}
.notification-box .content-left {
	width: 100%;
	padding: 0 145px 0 15px;
}
.notification-box .content-right {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width:130px;
	text-align: center;
}
.notification-box .content-right .button {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.notification-box p {
	font-size: 13px;
	line-height: 18px;
}

.post-list {
	display: block;
}
.post-list li {margin-bottom: 20px;}
.post-list .post-title {
	padding: 10px 15px;
	font-family:'robotomedium';
	font-size: 16px;
	color: #333;
	background: #fceacd;
	border-top: solid 1px #f0f0f0;
	border-bottom:solid 1px #f0f0f0;
}
.post-list .post-img {
	position: relative;
	overflow: hidden;
}
.post-list .post-img:before {
  content: '';
  display: block;
  padding-top: 70%;
}
.post-list .post-img img {
	position: absolute;
	width: 100%;
	top: 0;
	left: 50%;
	transform:translateX(-50%);
}
.post-list .post-img .full-view-image-button {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background:rgba(242, 242, 242, .9);
	color: #8bb3ff;
	text-align: center;
	height: 40px;
	line-height: 37px;
}
.post-list .post-img .full-view-image-button:before {
	content:'';
	position: absolute;
	width: 100%;
	height: 10px;
	top: -6px;
	left: 0;
	background-image: url(../images/svg-icons/arrow-up.svg);
	background-size: 12px !important;
	background-repeat: repeat-x;
	opacity: .9;
}
.post-list .post-img .full-view-image-button span {
	display: inline-block;
	vertical-align: middle;
	font-size: 12px;
}

.post-list .post-img .full-view-image-button i {
	display: inline-block;
	vertical-align: middle;
}
.post-list .post-text {
	padding: 15px;
	background-color: ##feefd6;
	font-size: 13px;
	line-height: 18px;
	color: #5b5b5b;
	position: relative;
}
.post-list .post-bar {
	background: #878787;
	height: 50px;
	text-align: right;
	font-size: 0;
}
.post-list .post-bar a {
	color:#fff;
	display: inline-block;
	height: 50px;
	line-height: 50px;
	padding: 0px 13px;
	border-left: solid 1px #5F5F5F;
}
.post-list .post-bar a:active {background: #6F6F6F;}
.post-list .post-bar a span {
	vertical-align: middle;
	text-transform: uppercase;
	font-size: 14px;
}
.post-list .post-bar a i {
	vertical-align: middle;
	font-size: 18px;
	font-size: 20px;
}
.post-list .post-bar a span + i {margin-left: 5px;}
.like-button.active .icon-dislike-outline:before {
  content: "\e90a" !important;
}
.like-button.active .icon-like-outline:before {
  content: "\e909" !important;
}
.post-list .post-text .more-link,
.post-list .post-text .less-link {
	font-family:'robotobold';
	color: #262424;
}

.post-list .post-text .read-more,
.post-list .post-text .read-less {
	padding-top: 10px;
	display: block;
	text-align: right;
}

.game-carousel,
.game-carousel li {
	padding: 10px;
}
.game-carousel li a {
	display: block;
	overflow: hidden;
	border-radius: 10px;
}
.game-carousel li a img {
	width: 100%;
}

.game-list li {
	display: block;
	list-style-type: none;
	padding: 5px;
	background-color: #fff;
	border-bottom:solid 1px #F0F0F0;
	border-top:solid 1px #F0F0F0;
	position: relative;
	height: 80px;
	margin-bottom: 5px;
}
.game-list li:first-child {margin-top: 5px;}
.game-list li a {
	color: #333;
}
.game-list li .game-img {
	position: absolute;
	left: 5px;
	top: 3px;
	border-radius: 5px;
	width: 70px;
	height: 70px;
	background-size: cover !important;
	background-position: center center !important;
	background-repeat: no-repeat !important;
	overflow: hidden;
}
.game-list li .game-description {
	padding-left: 80px;

}
.game-list li .game-description p {
	font-size: 13px;
	color:#333;
	overflow: hidden;
	max-height: 45px;
}
.game-list li .game-title {
	font-family:'robotomedium';
	font-size: 14px;
	margin-bottom: 5px;
}

.video-list {padding: 1%;}

.video-list li {
	display: block;
	width: 50%;
	float: left;
	padding: 1%;
	margin-bottom: 10px;
}
.video-list li a {
}
.video-list li a img {
	width: 100%;
}
.video-list .video-title {
	font-size: 16px;
	color: #333;
	height: 50px;
	overflow: hidden;
}
@media only screen and (max-width:420px){
	.video-list .video-title {font-size: 14px;}
}

.game-slider li img {
	width: 100%;
}

.game-slider-thumbnails {

}
.game-slider-thumbnails li {
	opacity: .4;
	margin: 1px !important;
	position: relative;
	overflow: hidden;
}
.game-slider-thumbnails li:before {
  content: '';
  display: block;
  padding-top: 100%;
}
.game-slider-thumbnails li.slick-current {opacity: 1;}
.game-slider-thumbnails li img {
	height: 100%;
	width:auto !important;
	position: absolute;
	top:0;
	left: 50%;
	transform: translateX( -50%);
}
.game-info {
	padding: 10px;
	background-color: #fff;
}
.game-info .game-title {
	padding-bottom: 5px;
	margin-bottom: 5px;
	border-bottom:solid 1px #e3e3e3;
}

.game-info .game-description {
	color: #737373;
	font-size: 14px;
	line-height: 20px;
}

.upload-img {
	width: 100%;
	height: 200px;
	margin: 0 auto;
	position: relative;
	background: #f0f0f0;
}
.upload-img .img-preview {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.upload-img .img-preview img {
	height: 100%;
	margin: auto;
	display: block;
	margin-left: 50%;
	transform: translateX(-50%);
}
.upload-img label {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	cursor: pointer;
}
.upload-button input{
	opacity: 0;
	visibility: hidden;
	display: none;
}

.audio-list li .audio-info .audio-title {
	color:#333;
	font-weight: normal !important;
	font-family:'robotomedium';
	padding-bottom: 2px;
}
.audio-list li .audio-info .audio-description {
	padding-bottom: 2px;
	font-family:'robotolight';
}
.audio-list li .right-button {
	position: absolute;
	right:0;
	top: 16px;
}

.info-modal-title {
	margin-bottom: 20px;
	text-align: center;
	font-family:'robotobold';
}

.info-modal li {
	text-align: left;
	list-style-type: none;
	font-size: 14px;
	line-height: 26px;
}

.search-history {
	padding: 10px;
}
.search-history li {
	display: block;
	opacity: .3;
	padding: 7px 0;
}
.search-history li:active{opacity: .5;}
.search-history li a {
	color: #333;
	display: block;
}
.search-history li a:before,
.search-history li a:after  {
	font-family:'icomoon';
}
.search-history li a:before {
	content: "\e8b3";
	margin-right: 5px;
	font-size: 25px;
	line-height: 16px;
	float: left;
}
.search-history li a:after {
	content: "\e0b2";
	float: right;
}

.change-pass-section {
	display: none;
	margin-top: 40px;
}

.alertify button.ok,
.alertify button.cancel {
	border-radius: 2px !important;
	padding: 0px 12px !important;
}

.alertify button.ok {
	background-color:#2196F3 !important;
	color: #fff !important;
}
.alertify button.ok:active {
	background-color:#1BAAFF !important;
}

.alertify button.cancel {
	border:solid 1px #2196F3 !important;
	color: #2196F3 !important;
}
.alertify button.cancel:active {
	background:#f2f2f2 !important;
}

.alertify .dialog .msg,
.alertify .alert .msg {
	line-height: 23px !important;
	font-size: 14px !important;
}

.article {
	overflow: hidden;
	padding: 10px;
}
.article .img-article {
	width: 40%;
	float: left;
}
.article .img-article img {
	width: 100%;
}
.article .summary-article {
	float: left;
	width: 60%;
	padding-left: 10px;
}
.article .summary-article h2 {
	text-transform: uppercase;
	font-size: 13px;
	line-height: 16px;
	font-family: 'robotobold';
	margin-bottom: 7px;
}
.article .summary-article p {
	font-size: 13px;
	line-height: 15px;
}
.article .summary-article p + p {margin-top: 10px;}

.ads-carousel {position: relative;}
.ads-carousel li {
	cursor:pointer;
	padding: 5px;
}
.ads-carousel li img {width: 100%;}
.ads-carousel li a {color: inherit;}
.ads-carousel-title {
	font-size: 12px;
	padding-top: 5px;
}

.album-carousel {position: relative;}
.album-carousel li {
	cursor:pointer;
	padding: 5px;
}
.album-carousel li img {width: 100%;}
.album-carousel li a {color: inherit;}
.album-carousel-title {
	font-size: 12px;
	padding-top: 5px;
}

.banners {
	overflow: hidden;
	line-height: 0;
}
.banners img {
	padding: 5px;
}

.paragraph {
	padding: 10px 5px;
}
.paragraph p {
	font-size: 13px;
}

.paragraph p + p {margin-top: 10px;}

.video-carousel {padding: 0px 5px;}
.video-carousel li {
	padding: 5px;
}
.video-carousel li iframe {
	width: 100% !important;
	height:auto !important;
}

.error-page {
	padding-top: 10%;
	text-align: center;
}
.error-page i {
	font-size: 100px;
	opacity: 0.3;
	color: #57167d;
}
.error-page .title {
	font-family:'robotobold';
	font-size: 18px;
	margin: 20px 0 20px 0;
}
.error-page .description {
	color: #8c8c8c;
	font-size: 14px;
	width: 98%;
	max-width: 360px;
	margin: auto;
	margin-bottom: 50px;
	line-height: 20px;
}

.albums-list {
	background-color:#282633;
	padding: 2.5px;
	font-size: 0;
}
.albums-list .item-album {
	display: inline-block;
	vertical-align: top;
	padding:2.5px;
	width: 50%;
	text-decoration: none;
}
.albums-list .item-album .album-info {
	background-color: #363441;
	color: #fff;
	padding:15px 10px;
	font-family:'robotolight';
}
.albums-list .item-album:active .album-info {background-color: #3C3A49;}
.albums-list .item-album img {
	width: 100%;
}
.albums-list .item-album .album-name {
	font-size: 14px;
	margin-bottom: 10px;
}
.albums-list .item-album .album-author {
	font-size: 12px;
	color: #cfcfcf;
}

.album-detail {
	position: relative;
	line-height: 0;
}

.album-detail img {
	width: 100%;
}

.album-detail .album-info {
	line-height: initial;
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
	background-color: rgba(54,52,65,.9);
	color: #fff;
	padding:10px 10px 10px 50px;
	font-family:'robotolight';
}

.album-detail .album-info:before {
	font-family:'icomoon';
	content:'\e019';
	position: absolute;
	left: 5px;
	top: 10px;
	font-size: 40px;
	opacity: .3;
	color: #fff;
}

.album-detail .album-info .album-name {
	font-size: 14px;
	margin-bottom: 3px;
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
}
.album-detail .album-info .album-author {
	font-size: 12px;
	color: #cfcfcf;
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
}

.album-detail .album-info-2 {
	line-height:initial;
	text-align: center;
}
.album-detail .album-info-2 audio {
	width: 100%;
}
.album-detail .album-info-2 .rating {
	margin:10px 0;
}
.album-detail .album-info-2 .rating div {
	display: inline-block;
}
.album-detail .album-info-2 .song-name {
	padding: 0 10px;
	color: black;
	margin: 5px 0;
	font-size: 16px;
}
.album-detail .album-info-2 .album-name {
	padding: 0 10px;
	font-size: 14px;
}

.shopping-options {
	margin: 20px 0;
}

.shopping-options li {
	position: relative;
	padding: 10px;
	border-bottom: solid 1px #e3e3e3;
}
.shopping-options li p {
	font-size: 16px;
}
.shopping-options li span {
	font-size: 13px;
	color: #878787;
	font-family: 'robotolight';
}

.shopping-options li .right-button {
	position: absolute;
	right: 0;
	top: 11px;
}

.artists-list li {
	display: block;
	position: relative;
	height: 62px;
	padding: 10px 30px 0px 70px;
	background: #fff;
	color: #57167d;
	border-bottom: solid 1px #ECECEC;
}
.artists-list li:after {
	font-family:'icomoon';
	content:'\e903';
	position: absolute;
	right: 10px;
	top: 20px;
	color: #b4b4b4;
}
.artists-list li:first-child {border-top: solid 1px #ECECEC;}
.artists-list li a {color: inherit;}
.artists-list li a .preview {
	width: 60px;
	height: 60px;
	position: absolute;
	left: 0;
	top: 0;
}
.artists-list li a .preview img {
	height: 100%;
	display: block;
	margin: auto;
}
.artists-list li a .title,
.artists-list li a .description {
	white-space:nowrap;
	width: 100%;
	overflow: hidden;
	text-overflow:ellipsis;
	margin: 0;
}
.artists-list li a .title {
	font-size: 14px;
}
.artists-list li a .description {
	font-size: 12px;
	color: #888888;
	margin-top: 4px;
	font-family:'robotolight';
}

.songs-list li:nth-child(even) {
	background-color: #f2f2f2;
}

.artists-list-2 li {
	display: block;
	position: relative;
	height: 120px;
	padding: 10px 30px 0px 130px;
	background: #fff;
	color: #757575;
	border-bottom: solid 1px #ECECEC;
}
.artists-list-2 li:first-child {border-top: solid 1px #ECECEC;}
.artists-list-2 li .preview {
	width: 120px;
	height: 120px;
	position: absolute;
	left: 0;
	top: 0;
	padding: 5px;
	background-color: #EFEFEF;
}
.artists-list-2 li .preview img {
	height: 100%;
	display: block;
	margin: auto;
}
.artists-list-2 li .title {
	width: 100%;
	white-space:nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
	margin: 0;
	font-size: 14px;
	display: block;
	margin-bottom: 10px;
}
.artists-list-2 li .description {
	font-size: 12px;
	color: #888888;
	margin-top: 4px;
	font-family:'robotolight';
}

.artists-list-2 li .description p {
	width: 100%;
	white-space:nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
}

.artists-list-2 li .description p i {
	font-size: 22px;
}

.artists-list-2 li .description p + p {
	margin-top:3px;
}

.artists-list-2 li .download-button {
  position: absolute;
  font-size: 24px;
  display: block;
  border: solid 1px;
  width: 40px;
  height: 40px;
  line-height: 35px;
  text-align: center;
  border-radius: 50%;
  top: 40px;
  right: 20px;
}
.artists-list-2 li .download-button:active {background-color: aliceblue;}
.jq-ry-container {z-index: 0;}

.header-section {
	text-align: center;
	padding: 50px 0px;
}

.header-section h1 {
	font-weight: normal;
	font-family: 'robotomedium';
	margin: 0;
	margin-bottom: 20px;
	font-size: 20px;
	color: #4d4d4d;
}

.header-section p {
	font-size: 14px;
	color:#707070;
}

.footer-options-trigger {
	position: fixed;
	bottom: 5px;
	right: 20px;
	border-radius: 50%;
	background:#272822;
	color: #fff;
	font-size: 20px;
	cursor:pointer;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	box-shadow: -1px 1px 8px 1px rgba(0,0,0,0.3);
	z-index:99999999;
	transition:all 200ms linear;
}
@media only screen and (max-width:520px){
	.footer-options-trigger {right: 5px;}
}
.footer-options-trigger.active {
	box-shadow: none !important;
	background-color: transparent !important;
}
.footer-options-trigger.active:before {
	content: "\e5cd" !important;
}
.footer-options {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50px;
	background:rgba(39,40,34,0.9);
	display: none;
	padding-right:50px;
	text-align: center;
	z-index: 99999;
}
.footer-options:after {
	position: absolute;
	content: '';
	width: 1px;
	height: 30px;
	top: 10px;
	right: 50px;
	background-color: rgba(255,255,255,0.1);
}
.footer-options li {
	width: 100%;
	text-align: center;
	color: #fff;
	font-size: 20px;
	cursor: pointer;
	list-style: none;
}
.footer-options li a {
	display: block;
	height: 50px;
	line-height: 50px;
	text-align: center;
}
.footer-options li a:active {
	background-color: rgba(255,255,255,0.05);
}

.social-networks {
	text-align: right;
	padding: 10px;
}
.social-networks li {
	display: inline-block;
	margin: 5px;
}
.social-networks li a {
	color: #57167d;
}

.main-section-footer {
	text-align: center;
	padding: 10px;
}

.main-section-footer p {
	font-size: 12px;
	color: gray;
	margin-bottom: 5px;
}

.main-section-footer a {
	font-size: 12px;
	display: block;
}
.main-section-footer a + a {margin-top: 5px;}

.landing-page .main-title {
	text-align: center;
	font-family:'robotobold';
	font-size: 25px;
}
.landing-page .subtitle {
	text-align: center;
	font-size: 20px;
	margin: 20px 0;
}
.landing-page .description {
	margin-bottom: 20px;
}
.landing-page .description p {
	font-size: 14px;
	text-align: justify;
}
.landing-page .description p + p {

}


/* nuevos estilos*/


/********************************
/****************
/*Estilos nuevos*/

.notification-bar-border{
	background: #FFF7F4;
	font-size: 12px;
	text-align: right;
	height: 25px;
	line-height: 25px;
	padding: 0px 10px;
	color:#333;
	border-bottom: solid 1px #57167D;
}
.notification-bar-border a{
	color:#57167D;
	font-weight: bold;
	padding-left:10px;
}

.img-border{
	border-radius: 0;
}
.img-border img{
	border-radius: 1.5em;
	border:5px solid #57167D;
}
.no-border{
	border-bottom:0;
	height: auto;
}
.title-trivia{
	font-family: "amatic-bold";
	text-transform: none;
	font-size: 4.5em;
	margin: 0;
}
.trivia-picture{
	width: 150px;
	height: 150px;
	margin:20px auto;
}

.section-subtitle-trivia p {
	font-size: 15px;
	font-family:'robotomedium';
	margin-bottom: 20px;
	text-align: center;
	line-height: 25px;
	font-weight:600;
}

.section-subtitle-trivia-2{
	border-bottom: solid 1px #57167D;
	padding:10px;
	margin-bottom:20px;
}
.section-subtitle-trivia-2 p {
	font-size: 30px;
	font-family:'amatic-bold';
	text-align: center;
}
.section-subtitle-trivia-3 p {
	font-size: 50px;
	font-family:'amatic-bold';
	text-align: center;
}

.section-subtitle-trivia-4 p {
	font-size: 20px;
	font-family:'robotobold';
	text-align: center;
}


.section-subtitle-trivia img{
	width: 90px;
	vertical-align: middle;
	padding-left:5px;
}

.section-subtitle-trivia-2 img{
	width: 40px;
	vertical-align: middle;
	margin-right:5px;
	border-radius: 0.3em;
	border:2px solid #57167D;
}

.section-subtitle-trivia p span {
	font-size: 20px;
	color:#57167D;
}

.img-jugar{
	width: 180px;
	margin-top:30px;
}
.img-jugar-2{
	width: 180px;
	margin-top:10px;
}
.link-terminos{
	padding-bottom:30px;
	padding-top:10px;
}
.link-terminos a{
	font-size: 12px;
	color:#333;
	text-decoration: underline;
}
.btn-color{
	border-bottom:15px solid #57167D;
}
#bg-body{
	background: #FFF7F4;
}
.top-section{
	padding-top:20px;
}
.img-option .opcion{
	padding:5px;
}
.img-option .img-btn{
	width:100%;
	cursor:pointer;
	border-radius: 1.5em;
	border:3px solid #57167D;
}
.img-btn:hover{
      border: 3px solid #FF5A5E;
      background: rgba(0,0,0,.3);
    }
.puntos .opcion{
	font-family: 'amatic-bold';
	font-size:30px;
	padding:5px;
	border:3px solid #57167D;
	border-radius: .1em;
	margin-bottom:40px;
	margin-top:10px;

}
.opcion{
	position: relative;
}
.puntos .col-3{
	padding:10px;
}

.head-2 {
	background: #57167D;
	position: relative;
	width: 100%;
	height:40px;
}
.head-2 .logo {
	position: absolute;
	top: 7px;
	left: 49%;
	margin:auto 0;
	margin-left: -35px;
	width:100px;
}
.head-2 .logo img {width:100px;}



.msj-trivia {
	font-size: 14px;
	font-family:'robotoregular';
	margin-bottom: 20px;
}
#precio_unidad{
	font-weight: bold;
}


.txt-opt{
	font-family: 'robotobold';
	text-align: center;
	padding:5px;
	font-size: 13px;
}

.button.new-color {
  background: #39B34A;
  background-image: -webkit-linear-gradient(top, #39B34A, #139346);
  background-image: -moz-linear-gradient(top, #39B34A, #139346);
  background-image: -ms-linear-gradient(top, #39B34A, #139346);
  background-image: -o-linear-gradient(top, #39B34A, #139346);
  background-image: linear-gradient(to bottom, #39B34A, #139346);
  -webkit-box-shadow: 1px 2px 3px #3b393b;
  -moz-box-shadow: 1px 2px 3px #3b393b;
  box-shadow: 1px 2px 3px #3b393b;
  margin-top:30px;
  margin-bottom:40px;
}

.button.new-color:hover {
  background: #57167D;
}

.form-title-2{
	font-family: 'robotobold';
	text-align: left;
	padding-bottom:10px;
	font-size: 16px;
}
.space{
	padding:10px;
}
.space ol{
	margin:15px;
	font-size: 13px;
	font-family:'robotomedium';

}
.space label input{
	background: #F2F2F2;
	border:1px solid #ABA9A7;
	padding:5px;
	margin-left:30px;
	margin-bottom:20px;
}
.space .checkbox-list .icon-checkbox {
	color: #3AB34A;
}
.space label{
	font-size: 12px;
	font-family: 'robotoregular';
}

#correcto, #incorrecto{
	display: none;
}

.opcion #btn-correcto-a,.opcion #btn-correcto-b,.opcion #btn-correcto-c,
.opcion #btn-incorrecto-a,.opcion #btn-incorrecto-b,.opcion #btn-incorrecto-c{
 width: 90%;
 position:absolute;
 top:5px;
 left:5px;
 border:none;
 z-index: 1;
 display: none;
}

.space .section-subtitle span{
	font-size:10px;
}

/*Estilos nuevos lealtad*/
.top-section-2{
	margin-top:20px;
	padding-bottom:30px;
}
.text-normal{
	font-size:12px;
}

.form-style label,.form-style input,.form-style select{
	font-size:11px;
}

.form-style input,.form-style select{
	border-radius: 3px;
	width:100%;
	height:25px;
	line-height: 25px;
	padding-left:4px;
}
.modal-content{
	margin-top: 40%;
}
.head-3 {
	/*background: #2B78E4;*/
	position: relative;
	width: 100%;
	height:40px;
}
/*.head-3 .logo {
	position: absolute;
	top: 7px;
	left: 49%;
	margin:auto 0;
	margin-left: -35px;
	width:100px;
}*/
.head-3 .logo img {width:100px;}

.notification-bar-border-2{
	background: #EEEEEE;
	font-size: 12px;
	text-align: right;
	height: 25px;
	line-height: 25px;
	padding: 0px 10px;
	color:#333;
}
.notification-bar-border-2 a{
	color:#57167d;
	font-weight: bold;
	padding-left:10px;
	text-decoration: underline;
}
/*.btn-new .btn-primary, .btn-new .btn-default{
	border-radius: 0;
}*/
.btn-new .btn-azul,.btn-new .btn-azules{
	background: #57167d;
	color:#fff;
}
.btn-rosa{
	background: #FC373C;
	color:#fff;
}
.btn-rosado a{
	border:2px solid #BF0B11;

}
.btn-grande button{
	width: 100%;
	color:#fff;
}
.btn-new button:hover,.btn-new a:hover{
	/*background: #2B78E4;*/
	border:2px solid #1153B0;
	color:#fff;
}
.checkbox-list .icon-check {
	color: #57167d;
}
.img-mas button{
	margin-right:10px;
	border-radius:50%;
	width:27px;
	height: 27px;
	padding:3px;
	border:0;
	background:#57167d;
	color: #fff;
	line-height: 27px;
	text-align: center;
	box-shadow: 0 0 1px rgba(0,0,0,0.3);
	cursor:pointer;


}
.img-mas i{
	font-size: 15px;
	margin:0 auto;
}
.btn-new a{
	margin-right:30px;
}

#nuevo_tlf { display:none; }

.icon-mas i{
	font-size:20px;
}
.icon-left i{
	float:left;
}
.icon-left p{
	margin-right:20px;
}
.menu-i i{
	font-size: 16px;
}
.menu-i button{
	margin-top:5px;
	margin-bottom:5px;
	border-radius:50%;
	width:30px;
	height: 30px;
	padding:3px;
	border:0;
	background:#57167d;
	color: #fff;
	line-height: 30px;
	text-align: center;
	box-shadow: 0 0 1px rgba(0,0,0,0.3);
	cursor:pointer;
}




.listado-image{
	margin-top: 10px;
}
.listado-image .text-normal{
	padding:5px;
	padding-left:10px;
}
.listado-image .text-normal b{
	font-size:14px;
}
.menu-i a{
	color:#57167d;
	font-weight: bold;
	text-decoration: underline;
}
.menu-i .no-icon{
	padding-left:10px;
}
.regular p{
	padding:5px;
}
.regular{
	margin-top:20px;
}
.regular .text-normal{
	min-height:120px;
}
.regular .col-xs-6{
	border:1.7px solid #EEEEEE;
}
.regular img{
	padding:20px;
}
.regular a{
	width:100%;
}
.regular i{
	font-size:14px;
}
.btn-m a{
	border-radius:0;
	padding:5px;
	margin-top: 20px;
	font-size:12px;
	font-weight:bold;
}
.btn-m .active-btn{
	background: #57167d;
	color:#fff;
}
.regular .btn-gris{
	border:2px solid #333;background:#CCCCCC;
}
.regular .btn-azul{
	border:2px solid #333;;background:#9FC5F8;
}
.separador{
	text-align: center;
}

.btn-primary {
    color: #fff;
    background-color: #57167d !important;
    border-color: #2e6da4;
}


/**estandares landing page*/

.form-2 .x2-left {
	position: absolute;
	top: 0;
	left: 0;
}
.form-2 .x2-left select {
	width: 70px;
	border-radius: 3px 0 0 3px;
}

.form-2 .x2-right {
	padding-left: 75px;
}
.form-2 .x2 {
	position: relative;
}

.form-2 .input-container + .input-container {
	margin-top: 10px;
	display: block;
}

.pr5 {
	padding-right: 5px;
}

.v-spacing-30 {
	padding: 30px 0;
}

.form-2 .input-container {
	overflow: hidden;
}

/* fin estandares landing */


/*INICIO HOME VIDEO GAME*/

.main-title.align{
	text-align: left;
	margin-left: 40px;
}
.align-element{
	text-align:center
}
.align-element-right{
	text-align:right;
}
.align-element-left{
	text-align:leftt;
}
.align-element.relative-width{
	margin-left:auto;
	margin-right:auto;
}
select.format{
	width: 100%;
}
.main-section.format-transactional{
	padding-right: 10px;
	padding-left: 10px;
}
.main-section.car{
	padding-right: 0px;
	padding-left: 10px;
	padding-bottom: 70px;
}
li.format-transactional{
	padding-top: 10px;
	padding-bottom: 10px;
}
body{
	background: #fae0b7;
}
div.top-image-banner{
	position: absolute;
	float: left;
	width: 100%;
	height: 40px;
	background-color: rgba(0, 0, 0, 0.2);
}
div.top-text-banner{
	position: absolute;
	float:left;
	font-size: 20px;
	color:#ffffff;
	padding-left: 20px;
	padding-top: 8px;
}
button.footer-btn{
	display: block;
	height: 35px;
	width: 35px;
	border-radius: 50%;
	border: 1px solid #da0226;
	background: #da0226;
	color: #ffffff;
	position: absolute;
	margin-top: -69px;
	float: right;
	right: 40px;
}
.footer-bar-main-button{
	display:none !important;
}
div.radius-border{
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 1px solid #737373;
	height: 35px;
}
div.pay-out{
	margin-top: 7px;
	font-weight: bold;
}
div.text{
	text-align: justify;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 14px;
	text-overflow: ellipsis;
}
img.image-icon{
	width:50px;
}
img.down-up{
	width:25px;
	padding-left: 10px;
}
div.separation{
	height:20px;
}
div.price{
	font-size: 40px;
	color: #8c1c1c;
	font-weight: bold;
}
div.price span{
	vertical-align: super;
}
div.add-card{

}
div.add-card button{
	width: 100%;
	background-color: #154d1e;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 0;
	height: 59px;
}
div.add-card button span{
	vertical-align: 12px;
	color: white;
	font-size: 36px;
}
.footer-bar.height{
	position: relative;
	bottom:100px;
}
.car-title{
	vertical-align: 21px;
	font-size: 21px;
	/* font-weight: bold; */
	color: #ffffff;
}
.button-back-color{
	color:#ffffff !important;
}
.img2{
	width:35px;
	vertical-align: 11px;
}
.floating-bar.background{
	background-color: #2b9100;
}
span.title2{
	font-weight: bold;
	font-size: 20px;
	padding-right: 20px;
}
.number-1{
	width: 60px;
	text-align: center;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 6px;
	border: 1px solid #8b8bef;
	height: 31px;
}
input[type="checkbox"]{
	width: 22px;
	height: 22px;
}
div.left-section{
	width:100%;
	/*border:1px solid black;*/
	display: inline-block;
	float: left;
	padding-top: 10px;
	padding-bottom: 10px;
	min-width: 354px;
	padding-bottom: 36px;

}

div.left-section-c{
	width: 30%;
	display: inline-block;
	float: left;
	min-width: 150px;
	padding-bottom: 36px;

}

div.right-section{
	width: 2%;
	/*border: 1px solid black;*/
	display: inline-block;
	height: 100%;
	position: absolute;
	background-color: #2b2bfd;
}
div.right-section-c{
	width: 70%;
	/*border: 1px solid black;*/
	display: inline-block;
	position: absolute;
}
div.left-section2{
	/*border:1px solid red;*/
	display: inline-block;
	float: left;
	width:30%;

}
div.right-section2{
	/*border:1px solid red;*/
	width:68%;
	display: inline-block;
	float: left;
}
div.right-section2-B{
	/*width:2%;
	display: inline-block;
	background-color: #57167d;
	height: 160px;;*/

	width: 2%;
	background-color: #57167d;
	height: 160px;
	position: absolute;
	float: right;
	right: 0;
	text-align: center;
}
img.relative-img{
	width:100%;
	padding-top: 10px;
	border: 2px solid #57167d;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 6px;
}
img.static-img{

}
div.left-section3{
	width:50%;
	display: inline-block;
	float: left;
	text-align: left;
}
div.right-section3{
	width:50%;
	display: inline-block;
}
span.total{
	color:#cb4758;
	font-weight: bold;
}
div.price-section{
	width:60%;
	max-width:260px

}
.main-min-width{
	/*min-width: 470px;*/
}
div.left-section3 div span{
	font-weight: bold;
}
.bf{
	font-weight: bold;
}
.content-show{

}

.separation-color{
	border:2px solid #57167d
}
.left-section.border-top{
	border-top:2px solid #57167d
}

.footer-bottom-price{
	position: fixed;
	width: 100%;
	height: 60px;
	right: 0px;
	bottom: 0;
	background: black;
	/*filter: alpha(opacity=50);*/
	/*opacity: 0.5;*/
	padding-bottom: 10px;
}
.footer-bottom-price .left{
	width:50%;
	display: inline-block;
	float: left;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	text-align: left;
	/*margin-left: 20px;*/
}

.footer-bottom-price .right{
	width:50%;
	display: inline-block;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: right;
	padding-right: 20px;
}
.footer-bottom-price .right button{
	background-color: #80fe00;
	width: 40px;
	background-color: #80fe00;
	width: 132px;
	border: 0;
	height: 29px;
	font-weight: bold;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 6px;
}
.price-a{
	font-size: 12px;
	color: #ffffff;
}
.price-b{
	font-size: 20px;
	color: #ffffff;
}
body.background{
	background: #d4d4d4;
}
.checkbox-center{
	width: 190px;
	margin-left: auto;
	margin-right: auto;
}
.color-personal{
	background-color: #2b9100 !important;
	color:#ffffff;
	font-weight: bold;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 6px;
	text-transform:none;
	width: 100%;
}
.font-p{
	font-size: 15px;
	color: #616191;
}
.price-c{
	width: 20px;
	font-size: 51px;
	color: #c6040a;
	font-weight: bold;
}
.div-card{
	width: 100%;
	height: 220px;
	background-color: #435359;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 6px;
}
span.account-number{
	color:#ffffff;
	font-size: 25px;
	margin-left: 35px;
}
span.last-card{
	color:#ffffff;
	font-size: 18px;
	margin-left: 35px;
}
span.name-card{
	color:#ffffff;
	font-size: 18px;
	margin-left: 35px;
}
icon-arrow_back-color{
	color:rgb(255, 255, 255) !important;
}

span.product{
	display: inline-block !important;
	vertical-align: inherit !important;
	color: #2b9100 !important;;
	background: #FFFFFF !important;
	border-radius: 50% !important;;
	width: auto !important;
	/* height: 20px; */
	text-align: center !important;;
	line-height: normal !important;;
	font-size: 19px !important;;
	margin: 0px 20px !important;;
}
span.product2{
	display: inline-block !important;
	vertical-align: inherit !important;
	color: #636363 !important;;
	background: #FFFFFF !important;
	border-radius: 50% !important;;
	width: auto !important;
	/* height: 20px; */
	text-align: center !important;;
	line-height: normal !important;;
	font-size: 19px !important;;
	margin: 0px 20px !important;;
}

.title-personal {
	display: inline-block;
	vertical-align: inherit !important;
	font-size: 19px !important;
}
.auto-border-left{
	margin-left: auto;
}
.input-border{
	border:none;
	border-top: 0px;
	border-left: 1px solid rgba(84, 21, 122, 0.47);
	border-right: 1px solid rgba(84, 21, 122, 0.47);
	border-bottom: 1px solid rgba(84, 21, 122, 0.47);
	text-align: center;
	background: none;
}
.image-icon.border{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 6px;
	border: 1px solid #57167d;
}
.image-icon.profile{
	width: 100px;
}
.image-icon.width{
	width: 31px;
	padding-top: 10px;
}
.image-icon.width2{
	width: 60px;
	padding-top: 10px;
	margin-top: 23px;
}


.image-icon.batch{

}

.audio-list li .more-download-button {
	position: absolute;
	font-size: 24px;
	display: block;
	border: solid 1px;
	width: 40px;
	height: 40px;
	line-height: 35px;
	text-align: center;
	border-radius: 50%;
	top: 14px;
	right: 20px;
	/* margin-top: -35px; */
	/*top: -20px;*/
}

.audio-list.border li{
	border-bottom: 1px solid #57167d
}

.bas-hist{
	position: absolute;
	border: 1px solid black;
	width: 75px;
	height: 69px;
	float: right;
	right: 0;
	background-color: #57167d;

}

.content-hist{
	margin-bottom:80px;
	min-height: 40px;
}

.wrap-text{
	text-overflow: ellipsis;
	/*white-space: nowrap;*/
	overflow: hidden;
}
.row{
	height: 61px;
	border-bottom: 1px solid  rgb(61, 0, 207);
	width:100%;
}
.span-div{
	margin-top: 18px;
}
div.left-section-d {
	width: 30%;
	float: left;
}
div.right-section-d {
	width: 70%;
	display: inline-block;
}

input.search-input{
	width: 50%;
	height: 39px;
	margin-left: 48px;
	border: 0px;
	background: #f7f7f7;
}
.games-title{
	text-align: center;
	color: black;
	padding-top: 5px;
	font-family: 'robotomedium';
}
img.radius-game{
	border-radius: 50%;
	padding: 2px;
	border: 2px solid #8f428e;
	width:50px !important;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.menu-icon-size{
	font-size: 40px
}
div.footer-menu2{


}
div.footer-menu2 table{
	text-align: center;
	width: 100%;
}

table.grip-img{
	width: 100%;
	background: black;
}
table.grip-img img{
	width: 100%;
}
table.grip-img td{
	border: 1px solid #ffffff;
}


.initial-section-list {
	margin: 30px 0;
}
.initial-section h1 {
	font-family:'brandonmedium';
	font-size: 25px;
	margin-bottom: 50px;
}

.initial-section ul li {
	display: inline-block;
	position: relative;
	cursor:pointer;
	width: 80px;
	height: 90px;
	margin: 10px;
}
.initial-section ul li .item {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background: #f2f2f2;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	transition:all 200ms ease-in-out;
}
.initial-section ul li .item img {
	width: 40px;
	margin:auto;
	margin-top: 20px;
}

.initial-section ul li.current span {
	margin-top: 10px;
	opacity: 1;
}

/* start popup */
.form-a{
	width:190px !important;
	display: inline

}
.form-b{
	width: 160px ;
	display: inline;
	padding-left: 10px;
}
.form-c{
	width: 64px ;
	display: inline;
	padding-left: 10px;
}
.form-d{
	width: 64px ;
	display: inline;
	padding-left: 10px;
	height:37px;
}
.x2-left {
	text-align: inherit !important;
	top: 0;
	left: 0;
	width: auto;
	padding-right: 10px;

}
.modal-content{
	background-color: #FBFBFB;

}
.component-row{
	display: inherit;
}
.component-row div{
	padding-top: 8px;
}



div.center-component{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

textarea{
	border:1px solid #bfbfbf
}
.robotoregular{
	font-family: "robotoregular" !important;
}
/* end popup*/

.wrap.width{
	max-width: 95% !important;
}

span.subtitle{
	font-weight: bold;
}
div.subtitle{
	height: 28px;
}
table.top-segment{
	width:100%;
}
.text-standar{
	font-family: "robotoregular";
}
table.flex{
	width:100%;
}
select.category{
	width:50%
}
div.section-background{
	background: #ffe6a8;
	height: 35px;
}
div.title{
	margin-left:20px;
	padding-top:8px;
}
div.image-section img{
	width:100%;
}
div.personaliz{
	background: #fbfbfb;
	margin-top: 0px;
}
div.img-top{
	/*margin-top:119px*/
}
body.background-b{
	background-color: #ffecc5;
}
img.width-icon{
	width:20px
}
.margin-top{
	padding-top: 8px !important;
}
.robotoregular.size{
	font-size: 14px;
}
.background-y{
	background-color: #ffe3a9;
	font-weight: bold;
}

.post-list.top{

	margin-top: 112px;

}

/*FIN HOME VIDEO GAME*/


/* INICIO PROTOTIPO*/
.wrap{
	width: 85%;
}
div.section-float-footer{
	/*
    border:1px solid red;
    */
	position: absolute;
	bottom: 33px;
	z-index: 5;
	width: 100%;
	min-width: 348px;
}
div.section-float-footer-video{
	/*
    border:1px solid red;
    */
	position: absolute;
	bottom: 30px;
	z-index: 5;
	width: 100%;
	min-width: 348px;
}
div.section-float-footer-a{
	/*
    border:1px solid black;
    */
	position: absolute;
	bottom:0px;
	z-index: 5;
	width: 100%;
	height:34px;
	background: #57167d;

}
div.section-float-footer-a table{
	width:100%;
}
div.section-float-footer-a table td.left{
	width:30%
}
div.section-float-footer-a table td.right{
	width:70%
}
div.section-float-footer-a table td.left div{
	margin-left: 10px;
}

div.section-grit-profile{
	/*
    border:1px solid black;
    */
	background: rgba(0, 0, 0, 0.3);
}
div.section-grit-profile table{
	width:100%;
}
div.section-grit-profile table td.left{
	width:30%
}
div.section-grit-profile table td.right{
	width:70%
}
div.section-grit-profile table td.left div{
	margin-left: 10px;
}

div.margin{
	margin-left: 10px;
	margin-right: 10px;
	/*
    border:1px solid black;
    */
}
div.margin-top{
	margin-top: 14px;
}
div.margin-center{
	margin-left: 15%;
	margin-right: 15%;
	/*
    border:1px solid black;
    */
}

div.align-element{
	text-align: center;
}

div.description.center{
	text-align: center;
}

p.content-text{
	text-align: center !important;

}
p.content-text.align-left{
	text-align: left !important;
}
div.section-form{
	margin-left: 60px;
	margin-right: 60px;
}
.button-radius{
	border-radius: 10px;
	width:125px
}

input:focus {
	background-color: yellow;
}

.subtitle.margin-bottom{
	margin-bottom: 5px;
}

.circle {
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}
.separate-image{
	margin-left: 20px;
	margin-right: 20px;
}
.separate-video{
	margin-left: 20px;
	margin-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.border-write{
	border: 3px solid #ffffff;
}
img.static-img{
	width:82px;
}
.align-left{
	text-align: left !important;
}
.align-right{
	text-align: right !important;
}
div.float-center-title{
	position: absolute;
	/*padding-top: 250px;*/
	top:20%;
	z-index: 5;
	width: 100%;
}
.main-section.min-with{
	min-width: 100px;
}

body{
	background-image:url('../images/foto-almaguia.jpg');
	background-repeat:no-repeat;
	background-size:contain;
	background-position:center;
	width: 100%;
	height: auto;
	background-size: 100% 100%;
}
.font-color{
	color:#ffffff
}
div.section-b{
	/*border: 1px solid black;*/
	background: rgba(161, 12, 234, 0.44);
	display: inline-block;
	width:100%;
	z-index:5;
}
.no-margin{
	margin-bottom: 0px !important;
}
button.transparent-button{
	background: none;
	border: 2px solid #ffffff;
	line-height: normal;
}
.copy-right{
	font-size: 11px !important;
	margin-top: 12px;
}
.img-logo{
	width: 160px;
	/*margin: 10px auto auto 20px;*/
}
.img-top-alfa-separation{
	padding-top: 10px;
	padding-bottom: 10px;
}

.layer-front{
	position: absolute;
	left: 0;
	right:0;
	bottom:0;
	top:0;
	z-index:1;
	background: rgba(0, 0, 0, 0.3);
}


.landing-logo-img{
	position: absolute;
	text-align: center;
	top: 51px;
	z-index:5;
	width: 100%;
}
.font-size-title1{
	font-size: 25px !important;
}
.font-size-title2{
	font-size: 17px !important;
}
.font-size-title3{
	/*font-size: 30px !important;*/
}
.video-init{
	/*border: 3px solid #ffffff;*/
	width: 100%;
}
button.subscribe{
	border-radius: 9px;
	width: 200px;
	height: 32px;
	border: 0px solid #57167d;
	background: rgba(87, 22, 125, 0.71);
	font-weight: 900;
	color: #ffffff;
}
div.section-button-play{
	position: absolute;
	float: right;
	right: 0;
	padding-top: 10px;
	padding-right: 10px;
	z-index: 6;
}
div.section-button-play button{
	background: none;
	border: 0px;
}
div.section-button-play button img{
	width:17px
}

div.section-button-mute{
	position: absolute;
	float: right;
	right: 37px;
	padding-top: 10px;
	/* padding-right: 40px; */
	z-index: 6;
}
div.section-button-mute button{
	background: none;
	border: 0px;
}
div.section-button-mute button img{
	width:17px
}

.height-font{
	height:25px !important;
}
/* FIN PROTOTIPO*/